<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let bookmark of bookmarks">
          <td>
            <a [href]="bookmark.url" target="_blank">
              {{ bookmark.title }}
            </a>
          </td>
          <td>
            <p>
              {{ bookmark.url }}
            </p>
          </td>
          <td>
            <button (click)="onEdit(bookmark)" class="btn btn-warning">
              <i-bs name="pencil"></i-bs>
              <span class="d-none d-md-inline">Edytuj</span>
            </button>

            <button (click)="onRemove(bookmark)" class="btn btn-danger">
              <i-bs name="trash"></i-bs>
              <span class="d-none d-md-inline">Usuń</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
